#topo{
    background-color: blue;
}

#conteudo{
    background-color: red;
}

.produto{
    background-color: gray;
    margin: 5px;
}

#rodape{
    background-color: green;
}

.azul{
    color: blue;
}